.title {
    text-align:center;
    color:#000F38;
    font-size:32px;
    font-weight:600;
    text-transform:uppercase;
    margin:70px 0 30px;
    margin-top:5px;
    text-transform:none;
}
.title h2{
   
    color:#212EA0;
    margin-top:5px;
    text-transform:none;
    font-size:15px;
}
